.gallery {  
    max-width: 905px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 30px;
    margin: auto;
}

img {
    padding: 10px;
}

.search-bar{
    text-align:center;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  .search-bar > input{
    text-align:left;
  }

  input {
    border-radius: 5px;
    padding: 13px 15px;
    width: 600px;
  }
